/****************************************************************
//
// Daniel Abrego
// Udacity FEND P5 Map Application
//
// style.css:
//   User defined css styles.
//  
****************************************************************/

html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }

/****************************************************************
*
* container elements
*
****************************************************************/

/* container for all the views elements */
#container { width: 100%; height: 100% }

/* container for floating <ul> list */
#nav {
	z-index: 100;
	position: absolute;
	margin: 10px 10px 0px 10px;
	background-color: #fff;
	border: 1px #000 Solid; padding: 5px;
}

/****************************************************************
*
* html form elements
*
****************************************************************/
/* text box */
input {
  border: 1px solid #000000;
}

/* the search list results will be buttons */
button {
  border-style: none;
  margin:5px;
  background-color: white;
}

/* we want a different style for the 'toggle list' button */
button.b2 {
  border-style: none;
  margin:5px;
  background-color: #337ab7;
  color: whitesmoke;
}

ul {
    list-style-type: none;
}

/* this is the <ul></ul> containing search results */
#searchResults{
  padding-left:4px;
}

/****************************************************************
*
* map and map error messages styles
*
****************************************************************/
/* map div */
#googleMap {
	width:100%;
	height:100%;
}

/* map error message */
#mapErr1 {
  display:none;
}

/* div surrounding the google map */
#mapWell {
  height:680px;
}

/* resize the image appearing in foursquare info window above google map marker */
.resizeImg1 {
  width:300px;
  height: auto;
}


